body {
    background-color: black;
    color: white;
    font-family: 'Trebuchet MS';
}

h1, h2 {
    text-align: center;
    margin:4vh;
}

p {
    color: white;
    display: flex;
    justify-content: space-around;
    font-size: 6em;
}

p i {
    cursor: pointer;
}

.versus {
    border: 1px solid white;
    padding: 2vh;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    font-size: 2em;
}

.result {
    border: 1px solid white;
    text-align: center;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.5em;
    padding: 2vh;
}
